html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

body {
  background-image: url(../../images/background.jpg);
  background-size: cover;
  background-color: black;
}

body *::-webkit-scrollbar {
  width: 16px;
}

body *::-webkit-scrollbar-track {
  background: transparent;
}

body *::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
  border: 3px solid #000000;
}

#opPic {
  height: 500px;
  width: 300px;
  border: 2px white;
}

#icon {
  top: 50%;
  left: 50%;
  margin-top: -77px;
  margin-left: -50px;
  height: 101px;
  width: 101px;
}

.Pics {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -432px;
  margin-left: -148px;
}

.ButtonContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -480px;
  margin-left: -40px;
}

.Shuffle {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
  border: 2px solid white;
  z-index: 1;
  color: white;
  position: absolute;
  cursor: pointer;
}

.Shuffle:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  background: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.Shuffle:hover {
  color: black;
}

.Shuffle:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}

.switch-toggle {
  float: left;
  background: #242729;
}

.switch-toggle input {
  position: fixed;
  opacity: 0;
}

.switch-toggle input + label {
  padding: 7px;
  float: left;
  cursor: pointer;
}

.switch-toggle input:checked + label {
  background: green;
}

.lineUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  top: 50%;
  left: 50%;
  margin-top: 170px;
  margin-left: -523.5px;
  position: absolute;
}

.box {
  width: 300px;
  margin: 0 20px;
  border: 5px solid #ffffff;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.LoadoutH::after {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background: white;
  margin: 10px auto;
  opacity: 0.35;
}

.gadgetH::after {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background: white;
  margin: 10px auto;
}

.show {
  background: none;
  border: none;
  text-decoration: none;
  color: white;
  font-size: x-large;
  cursor: pointer;
  padding: 0;
  margin: 15px;
}

.dropdown.active > .show,
.show:hover {
  color: rgba(245, 245, 245, 0.5);
}

.dropdown-menu {
  height: calc(85% + 75vh);
  position: absolute;
  left: 0;
  top: calc(100% + .25rem);
  background-color: rgba(0, 0, 0, 0.5);
  padding: .75rem;
  border-radius: .25rem;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: opacity 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  transition: opacity 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.dropdown.active > .show + .dropdown-menu {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  pointer-events: auto;
}

#changeAll {
  height: 40px;
  width: 108px;
  opacity: 1;
  outline: 0;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}

.disable:hover:after {
  opacity: 1;
  -webkit-transform: translateY(0) rotateX(0);
          transform: translateY(0) rotateX(0);
}

.disable:hover:before {
  opacity: 0;
  -webkit-transform: translateY(50%) rotateX(90deg);
          transform: translateY(50%) rotateX(90deg);
}

.disable:after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: #242729;
  display: block;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  position: absolute;
  background: #adadaf;
  content: attr(data-dis);
  -webkit-transform: translateY(-50%) rotateX(90deg);
          transform: translateY(-50%) rotateX(90deg);
}

.disable:before {
  top: 0;
  left: 0;
  opacity: 1;
  color: #adadaf;
  display: block;
  line-height: 40px;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  position: relative;
  background: #242729;
  content: attr(data-ened);
  -webkit-transform: translateY(0) rotateX(0);
          transform: translateY(0) rotateX(0);
}

.enable:hover:after {
  opacity: 0;
  -webkit-transform: translateY(50%) rotateX(90deg);
          transform: translateY(50%) rotateX(90deg);
}

.enable:hover:before {
  opacity: 1;
  -webkit-transform: translateY(0) rotateX(0);
          transform: translateY(0) rotateX(0);
}

.enable:after {
  top: 0;
  left: 0;
  opacity: 1;
  color: #242729;
  display: block;
  line-height: 40px;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  position: relative;
  background: #adadaf;
  content: attr(data-dised);
  -webkit-transform: translateY(0) rotateX(0);
          transform: translateY(0) rotateX(0);
}

.enable:before {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: #adadaf;
  display: block;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  position: absolute;
  background: #242729;
  content: attr(data-en);
  -webkit-transform: translateY(-50%) rotateX(90deg);
          transform: translateY(-50%) rotateX(90deg);
}

.filterContent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[2];
      grid-template-columns: repeat(2, -webkit-max-content);
      grid-template-columns: repeat(2, max-content);
  overflow-y: scroll;
  min-width: 200px;
  padding-right: 0;
}

.filterImg {
  height: 60px;
  width: 60px;
}

.filterImg:hover {
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  cursor: pointer;
  height: 65px;
  width: 65px;
}

.filterImgDis {
  height: 50px;
  width: 50px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.filterImgDis:hover {
  cursor: pointer;
}

.filterName {
  padding-top: 5px;
}

tr {
  height: 68px;
  width: auto;
}

.switch {
  position: absolute;
}

.Imgs {
  margin: 15px;
}

.OpNameBox {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-top: 68px;
  margin-left: -148px;
  height: auto;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.5);
}

#opName {
  padding: 7px;
  margin: 0;
}

#Version {
  position: absolute;
  top: 97%;
  left: 96%;
  color: #b8b8b8;
  font-size: x-small;
}
/*# sourceMappingURL=index.css.map */