.show {
    background: none;
    border: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: x-large;
    cursor: pointer;
    padding: 0;
    margin: 15px;
}

.dropdown.active >.show, 
.show:hover {
    color: rgba(245, 245, 245, .5);
}

.dropdown-menu {
    height: calc(85% + 75vh);
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color: rgba(0, 0, 0, .5);
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .show + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}


//-------------------------------------button-----------------------------------------//
$speed: 0.9s;

#changeAll{
    height: 40px;
    width: 108px;
    
    opacity: 1;
    outline: 0;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}

.disable{
    &:hover{
        &:after{
        opacity: 1;
        transform: translateY(0) rotateX(0);
        }
        &:before{
        opacity: 0;
        transform: translateY(50%) rotateX(90deg);
        }
    }    

    &:after{
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        color: #242729;
        display: block;
        transition: $speed;
        position: absolute;
        background: #adadaf;
        content: attr(data-dis);
        transform: translateY(-50%) rotateX(90deg);
    }
    
    &:before{
        top: 0;
        left: 0;
        opacity: 1;
        color: #adadaf;
        display: block;
        line-height: 40px;
        transition: $speed;
        position: relative;
        background: #242729;
        content: attr(data-ened);
        transform: translateY(0) rotateX(0);
    }
}

.enable{
    &:hover{
        &:after{
            opacity: 0;
            transform: translateY(50%) rotateX(90deg);
        }
        &:before{
            opacity: 1;
            transform: translateY(0) rotateX(0);
        }
    }    

    &:after{
        top: 0;
        left: 0;
        opacity: 1;
        color: #242729;
        display: block;
        line-height: 40px;
        transition: $speed;
        position: relative;
        background: #adadaf;
        content: attr(data-dised);
        transform: translateY(0) rotateX(0);
    }
    
    &:before{
       top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        color: #adadaf;
        display: block;
        transition: $speed;
        position: absolute;
        background: #242729;
        content: attr(data-en);
        transform: translateY(-50%) rotateX(90deg); 
    }
}
//-------------------------------------button-----------------------------------------//


//-------------------------------------content-----------------------------------------//
.filterContent {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    overflow-y: scroll;
    min-width: 200px;
    padding-right: 0;
}

.filterImg{
    height: 60px;
    width: 60px;
    &:hover{
        transition: 100ms ease-in-out;
        cursor: pointer;
        height: 65px;
        width: 65px;
    }
}

.filterImgDis{
    height: 50px;
    width: 50px;
    filter: grayscale(100%);
    &:hover{
        cursor: pointer;
    }
}

.filterName{
    padding-top: 5px;
}

tr{
    height: 68px;
    width: auto;
}
