.filter{
    width: 178.98;
    height: auto;
    padding-top: 47px;
}

#filterHeading{
    padding: 0;
    margin: 0;
    margin-bottom: 4px;
}

#filterText{
    padding: 0;
    margin: 0;
}

.filterImg{
    height: 51;
    width: 51;
}