.history{
    position: absolute;
    top: 17%;
    left: 87%;
    font-size: 12px;
    width: 222px;
    height: 404px;
}

.historyWrap{
    display: flex;
    flex-direction: row;
    border: 1.5px solid white;
    height: auto;
    width: 220px;
    background-color: rgba(0,0,0,.5);
    background-size: cover;
    background-position: bottom;
}

.historyName{
    position: relative;
    top: -8.5px;  
}

.historyPrimary, .historySecondary{
    border-bottom: .5px solid white;
}

.historyFst{
    border-right: .5px solid white;
}

.historyWeapons{
    width: 129px;
    text-align: center;
}

.historyImg{
    height: 101px;
    width: 101px;
}

#historyH{
    margin-bottom: 5px;
}