@import "settings";
@import "images";
@import "button";
@import "switch";
@import "boxes";
@import "dropdown";

.switch{
    position: absolute;
}

.Imgs{
    margin: 15px;
}

.OpNameBox{
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-top: 68px;
    margin-left: -148px;
    height: auto;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
}

#OpName{
    padding: 7px;
    margin: 0;
}

#Version{
    position: absolute;
    top: 97%;
    left: 96%;

    color: rgb(184, 184, 184);
    font-size: x-small;
}