@import "settings";
@import "images";
@import "button";
@import "switch";
@import "boxes";
@import "dropdown";

.switch{
    position: absolute;
}

.Imgs{
    margin: 15px;
}

.OpNameBox{
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-top: 68px;
    margin-left: -148px;
    height: auto;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
}

#OpName{
    padding: 7px;
    margin: 0;
}


.outer {
    overflow-y: auto;
    height: 300px;
  }

  .outer {
    width: 100%;
    -layout: fixed;
  }

  .outer th {
    text-align: left;
    top: 0;
    position: sticky;
    background-color: white;
  }